.keyArea{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  height: 100%;
  align-self: center;  
}

.keyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
}

.key {
  display: flex;
  flex-grow: 0;  
}

app-keyfloat {
  position: absolute;
}