<div class="keyArea" [ngStyle]="keyAreaCalc()">
  <div class="keyRow">
    <app-key [keyValue]="keys[0]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[1]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[2]" class="key" [ngStyle]="keyCalc()"></app-key>
  </div> 
  <div class="keyRow"> 
    <app-key [keyValue]="keys[3]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[4]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[5]" class="key" [ngStyle]="keyCalc()"></app-key>
  </div>
  <div class="keyRow">
    <app-key [keyValue]="keys[6]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[7]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[8]" class="key" [ngStyle]="keyCalc()"></app-key>
  </div>
  <div class="keyRow">
    <app-key [keyValue]="keys[9]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[10]" class="key" [ngStyle]="keyCalc()"></app-key>
    <app-key [keyValue]="keys[11]" class="key" [ngStyle]="keyCalc()"></app-key>
  </div>
</div>

<!-- 
<div class="keyArea" [ngStyle]="keyAreaCalc()">

    <div class="keyRow">
      <div>
        <app-key [keyValue]="keys[0]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[1]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[2]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div> 
    </div>
  
    <div class="keyRow">
      <div> 
        <app-key [keyValue]="keys[3]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[4]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[5]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
    </div>
  
    <div class="keyRow">
      <div>
        <app-key [keyValue]="keys[6]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[7]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[8]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
    </div>
  
    <div class="keyRow">
      <div>
        <app-key [keyValue]="keys[9]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[10]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
      <div>
        <app-key [keyValue]="keys[11]" class="key" [ngStyle]="keyCalc()"></app-key>
        <app-keyfloat [keyValue]="keys[0]" [ngStyle]="keyfloatCalc()"></app-keyfloat>
      </div>
    </div>
  </div> -->
  