<div class="container">
<div class="keyRow">
  <app-key [keyValue]="keys[0]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[1]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[2]" class="key" [ngStyle]="keyClass"></app-key>
</div> 
<div class="keyRow"> 
  <app-key [keyValue]="keys[3]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[4]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[5]" class="key" [ngStyle]="keyClass"></app-key>
</div>
<div class="keyRow">
  <app-key [keyValue]="keys[6]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[7]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[8]" class="key" [ngStyle]="keyClass"></app-key>
</div>
<div class="keyRow">
  <app-key [keyValue]="keys[9]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[10]" class="key" [ngStyle]="keyClass"></app-key>
  <app-key [keyValue]="keys[11]" class="key" [ngStyle]="keyClass"></app-key>
</div>
</div>


<!-- <app-key *ngFor="let key of keys"></app-key> -->
