app-textdisplay {
  position: fixed;
  top: 0;  
  width: 100%;
  height: 60%;
} 
app-keyboard {
  /* display: flex; */
  position: fixed;
  /* top: 60%; */
  bottom: 0%;
  width: 100%;
  height: 330px;
}