.scrollable {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  position: absolute;
  /* background-color: yellowgreen; */
}

.fullTextContainer {
  z-index: 0;
}

.typeContainer {
  z-index: 1;
}

.typedP {
  color: navy;
  position: absolute;
  width: 100%;
  /* position: absolute;
  top: 0px;
  left: 0px; */
}

.fullTextP {
  color: grey;
  position: absolute;
  width: 100%;  
  /* top: 0px;
  left: 0px; */
  overflow: scroll;
  height: 300px;
}

p {
  font-size: 32px;
}
