.typed {
  color: navy;
  /* position: absolute;
  top: 0px;
  left: 0px; */
}

.fullText {
  color: grey;
  /* position: absolute;
  top: 0px;
  left: 0px; */
}

.textContainer {
  /* position: absolute;
  width: 90%; */
}